<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Chat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="chat-container">
    <!-- Lista de mensajes -->
    <div *ngFor="let message of messages" class="message-container" [ngClass]="{'sent': message.sent, 'received': !message.sent}">
      <p class="message-text">
        <b>{{ message.usuario }}:</b><br>
        {{ message.mensaje }}
      </p>
      <span class="message-time">{{ message.hora }}</span>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-item lines="none">
      <ion-input
        [(ngModel)]="newMessage"
        placeholder="Escribe tu mensaje..."
        (keydown.enter)="sendMessage()"
      ></ion-input>
      <ion-button slot="end" (click)="sendMessage()">
        <ion-icon name="send"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-toolbar>
</ion-footer>